{% include 'head.html' %}
<body>

    <div class="container">
        <h1>Welcome to Tuner</h1>
        <h3>Updating</h3>
        <table class="table">
        {% for show in shows_updating %}
            <tr><td><img class="banner-small" src="{{ url_for('static', filename='img/' + show.show_id + '_banner.jpg') }}" /></td><td><a href="/{{show.path}}">{{show.name}} ({{show.rating}})</a></td><td>{{show.plot}}</td><td>{{show.status}}</td></tr>
        {% endfor %}
        </table>

        <!-- <h3>Available</h3>
        <table class="table">
        {% for show in shows_available %}
            <tr><td><img src="{{ url_for('static', filename='img/' + show.show_id + '_banner.jpg') }}" /></td><td><a href="/{{show.path}}">{{show.name}} ({{show.rating}})</a></td><td>{{show.plot}}</td><td>{{show.status}}</td></tr>
        {% endfor %}
        </table> -->
    </div>


</body>
