{% include 'head.html' %}
<body>
    <div class="header">
        <h1 class="title-large">Tuner</h1>
    </div>
    <div class="container">
    {% for show in shows_updating %}
        {% if show.index % 3 == 0 %}
            <div class="row">
        {% endif %}
        
            <div class="col-md-4 show-block">
                <a href="/{{show.path}}">
                    {% if show.banner %}
                        <img data-banner="{{show.banner}}" class="banner-small" src="{{ url_for('static', filename='img/' + show.show_id + '_banner.jpg') }}" />
                    {% else %}
                        <div class="banner-small-blank">{{ show.name }}</div>
                    {% endif %}
                </a>
                <div class="rating">
                    <div class="rating-inner" style="width: {{ show.rate }}%;"></div>
                </div>
                <p><strong>{{show.status}}</strong></p>
                <p>{{show.plot}}</p>
            </div>

        {% if show.index % 3 == 2 %}
            </div>
        {% endif %}
    {% endfor %}

    </div>


</body>
