{% include 'head.html' %}
<body>
    <div class="background" style="background-image: url('{{ url_for('static', filename='img/'+show.show_id + '.jpg') }}')"></div>

    <div class="container">
        <h1 class="title-large">{{show.name}}</h1>
        <!-- <p>{{show.status}}</p>
        <p>Downloading: {{show['update']}}</p>
         -->
        {% for season in episodes %}
            <h3 class="season-title">Season {{season}}</h3><a class="download-button" href="/download/{{show.show_id}}/{{season}}"><img src="{{url_for('static', filename='download.png')}}" /></a>
            <hr />
            
            {% for episode in episodes[season] %}

                {% if episode.index % 6 == 0 %}
                    <div class="row">
                {% endif %}

                <div class="col-md-2">
                    <img class="show-thumb" src="{{ url_for('static', filename='img/' + show.show_id + '_' + episode.season + '_' + episode.number + '.jpg') }}" />
                    <!-- <p><strong>{{episode.date}}</strong></p> -->
                    <h4 class="episode-title"><span class="{{episode.got}} {% if episode.got == "1" %} bull-green {% endif %} {% if episode.got == "0" %} bull-red {% endif %}">&bull;</span> {{episode.number}} - {{episode.name}}</h4>
                    <br />
                </div>

                {% if episode.index % 6 == 5 or episode.index == episode.max %}
                    </div>
                {% endif %}

            {% endfor %}
        {% endfor %}
        
    </div>


</body>
